.pic {
    height:100px;
    width:200px;
    border: 2px solid black;
    padding: 20px;
    background: url(/resource/image/butterfly.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .pics {
    height:100px;
    width:200px;
    border: 2px solid black;
    padding: 20px;
    background: url(/resource/image/butterfly.jpg);
    background-repeat: no-repeat;
    background-size: 75% 50%;
  }
  .picss {
    height:100px;
    width:200px;
    border: 2px solid black;
    padding: 20px;
    background: url(/resource/image/butterfly.jpg);
    background-repeat: no-repeat;
    background-size: 75% 25%;
  }